.Home-title {
  font-size: 20px;
  color: gray;
}

.Home-authenticate {
  font-size: 16px;
  margin-top: 20px;
}

.Home-message {
  margin-top: 20px;
  font-weight: 600;
}

.UserHeader {
  padding: 10px;
  background-color: lightgray;
  font-size: 14px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}

.Flash-error {
  color: darkred;
  margin-bottom: 20px;
  font-size: 16px;
}

.Flash-notice {
  color: darkgreen;
  margin: 0 auto;
  font-size: 24px;
  text-align: center;
}
